/.metadata/
/WorkShop1_Shopping/nbproject/private/
/WorkShop1_Shopping/build/
/WorkShop1_Shopping/dist/
/Crush/nbproject/private/
/Assignment/nbproject/private/
/Assignment/build/
/Assignment/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/